/* 
    Document   : comun
    Created on : 20-nov-2010, 12:11:24
    Author     : Mario
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
.divlogo{
    position:absolute;
    top:0;
    left:1290px;
}
.encabe{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    font-weight:bold;
}
.divSesion{
    position:absolute;
    top:0px;
    left:950px;
}
.titulo{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.text{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#form{
    position:absolute;
    top:40px;
    left:80px;
}
.imgRegi{
    position:absolute;
    top:40px;
    left:810px;
}
a.boton:link,a.boton:visited
{
    font-weight:bold;
    color:#ffffff;
    background-color:#2aa7e8;
    width:120px;
    text-align:center;
    padding:4px;
    text-decoration:none;
}
a.boton:hover,a.boton:active
{
    background-color:#2e80ff;
}
.error-message, label.error {
    color: #ff0000;
    margin:0;
    display: inline;
    font-size: 1em !important;
    font-weight:lighter;
}
*{
    font-family: sans-serif;
    font-size: 12px;
}
body{
    margin: auto;
    background-color: #FFFFFF;
}
.forma{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 0px 15px 15px;
    margin-top: 0px;
    background-color: white;
}
.forma label{
    display: block;
}
.forma div{
    margin-bottom: 0px;
}
.forma input[type='text'], .forma textarea{
    padding: 2px 2px;
    border: 1px solid #CED5D7;
    resize: none;
    margin: 5px 0;
}
.forma input[type='text']:focus, .forma textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
h1 {
    font-size:13px;
    color: #ffffff;
    background-color: #2aa7e8;
    text-align:center;
    padding:4px;
}
h3 {
    color: #2aa7e8;
    padding:4px;
}